body{
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  /* padding: 0px 20ch; */
  background-color: #000d29f5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}

/* Estilos globales */

body h1{
  font-family: 'Work Sans', sans-serif;
}

body h2 {
  font-family: 'Arsenal', sans-serif;
}

body p {
  font-family: 'Work Sans', sans-serif;
}

:root{
  --a-color: #0077B5;
  --a-linkedin: #0077B5;
  --a-instagram: #bc2a8d;
  --a-twitter: #1DA1F2;
  --a-github: #F1502F;
}

.u-center{
  max-width: 1200px;
  margin: 0 auto;
}

.container-postTitle{
  display: flex;
  align-items: center;
  align-content: center;
}

.container-postTitle h2, p{
  margin: 0;
}

.container-postTitle h2{
  color: white;
}

.container-postTitle p{
  color: rgba(255, 255, 255, 0.589);
}

/* Componente Navbar */

nav{
  padding: 0px 20px;
}

ul{
  padding: 0;
}

#logo-navbar{
  transition: transform .5s;
  cursor: pointer;
}

#logo-navbar:hover {
  transform: scale(1.1); 
}

.container-navbar-icons{
  display: flex;
  align-items: center;
  gap: 25px;
  cursor: pointer;
}

.navbar-icons{
  color: white;
  font-size: 25px;
  transition: color .3s ease-in-out;
}

#instagram:hover{
  color: #bc2a8d;
}

#git:hover{
  color: #F1502F;
}

#linkedin:hover{
  color: #0077B5;
}

#twitter:hover{
  color: #1DA1F2;
}

.input-navbar{
  background-color: transparent;
  border: none;
  border: 1px solid #0077B5;
  padding: 10px 20px;
  border-radius: 10px;
  color: #0077B5;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  outline: none;
  transition: box-shadow .2s ease-in-out;
}

.input-navbar:focus{
  box-shadow: 0px 0px 15px #3c4654;
}

.menu-search{
  position: absolute;
  top: calc(100px - 35px);
  width: 25%;
  min-width: 350px;
  height: auto;
  padding: 5px;
  border-radius: 5px;
  background-color: #3c4654;
  z-index: 1;
}

.menu-search.disabled{
  display: none !important;
}

.menu-search.actived{
  display: block !important;
}

.search-container-post{
  display: flex;
  flex-direction: row;
  background-color: transparent;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color .2s ease-in-out;
}

.search-container-post:hover{
  background-color:rgba(255, 255, 255, 0.418)
}

.search-title-card h2{
  font-size: 15px;
}

/* Componente HomePage */

.container-content{
  display: flex;
  flex-direction: row;
  gap: 50px ;
}

.container-posts{
  padding: 0 10px;
}

.container-posts-social{
  width: 70%;
  display: flex;
  padding: 0 10px;
  flex-direction: column;
}

.posts-podcast{
  display: flex;
  flex-direction: column;
}

.posts-podcast iframe{
  width: 100%;
}

.posts-youtube{
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.1s ease-in,
  transform 0.1s ease-in;
}

.posts-youtube:hover{
  background-color: #1da0f233;
}

.posts-youtube:active{
  transform: scale(1.1); 
}


.posts-youtube picture img{
  width: 100%;
  border-radius: 10px;
}

.posts-youtube h4{
  color: white;
  margin: 0;
}

.posts-youtube a{
  text-decoration: none;
}

.container-posts h1, .container-posts-social h1{
  color: #1da0f2;
}

.posts{
  display: flex;
  flex-direction: row;
  gap: 40px;
}


.container-arrows{
  display: flex;
  gap: 15px;
  margin-top: 20px;
  margin-left: 20px;
}

.container-arrows button{
  background-color: transparent;
  border: none;
}

.btn-arrow{
  font-size: 20px;
  color: #1da0f2;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.btn-arrow:active{
  transform: scale(1.3); 
}

.container-info-autor{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.info-autor{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  margin-top: 10px;
}

.container-info-autor h1{
  font-size: 24px;
}

.container-info-autor p{
  color: white;
}

.container-info-autor img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  shape-outside: circle(50%);
}

.container-info-autor h2{
  font-size: 30px;
  display: none;
  color: white;
}

.title-info-autor{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* Componente PostCard */

.container-postList{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article-container-post{
  background-color: transparent;
  border-radius: 10px;
  margin-top: 20px;
  transition: background-color .2s ease-in-out, transform .2s ease-in-out;
}

.article-container-post h2{
  min-width: 250px;
  font-size: 20px;
}

.article-container-post:hover{
  background-color: #0076b51c;
}

.article-container-post:active{
  transform: scale(1.05); 
}

.article-container-post img{
  min-width: 9vh;
  width: 10vh;
  height: 8vh;
}

.container-title-card{
  width: 60%;
  min-width: 300px;
  padding-left: 20px;
}

.container-title-card a{
  color: #0077B5;
}

.container-title-card p{
  padding-top: 5px;
}

.container-description-card{
  border-left: 1px solid rgba(255, 255, 255, 0.589);
  margin-left: 20px;
  padding-left: 25px;
}


/* Componente posts/[slug] */

.container-post-byslug{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  z-index: 0;
}

.container-content-post{
  width: 100%;
  max-width: 75ch;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.container-postTitle-byslug h1{
  color: white;
  margin: 0;
  font-size: 25px;
}

.container-postTitle-byslug p{
  width: 100%;
  max-width: 75ch;
  color: rgba(255, 255, 255, 0.418) !important;
  margin: 0 !important;
}

.container-postTitle-byslug #img-title{
  width: 12vh;
  height: 10vh;
}

#container-aditional-info{
  margin-top: 10px;
}

#container-aditional-info svg{
  padding-right: 5px;
  font-size: 20px;
}

#container-aditional-info p{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 15px;
}

#container-aditional-info a{
  padding-left: 5px;
  color: var(--a-github);
}

#content-post p{
  margin-top: 25px;
  max-width: 75ch;
  font-size: 1.125rem;
  line-height: 1.7em;
  color: white;
}

#content-post li{
  font-size: 1.125rem;
  color: rgb(255, 255, 255);
}

.container-title-card a{
  padding-right: 7px;
}

.container-content-post h2{
  color: white;
}

#content-post a{
  font-size: 30px !important;
  color: var(--a-color)
}

.container-content-post img{
  width: 100%;
  height: auto;
  border-radius: 8px;
}

code{
  padding: 2px 5px;
  background-color: #1da0f233 !important;
  border-radius: 3px;
}

code.hljs{
  font-size: 15px;
  border-radius: 5px;
}

#content-post ol {
  padding-left: 20px;
  font-weight: bold;
}

/* Componente Footer */

footer{
  margin: 0 auto;
  width: 80%;
  height: 20px;
  margin-top: 50px;
  padding-bottom: 35px;
  border-top: 1px solid #0076b563;
}

footer h3{
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: 400;
  color: #1da0f2;
}

