

@media screen and ( max-width: 1025px ) {

    /* Componente HomePage */

    .container-content{
        flex-direction: column;
    }

    .container-posts-social{
        width: 100%;
    }

    .container-posts{
        padding: 20px;
    }

    .container-info-autor img{
        width: 150px;
        height: 150px;
    }

}

@media screen and ( max-width: 850px ) {

    /* Componente PostCard */

    .container-postList{
        grid-template-columns: 100%;
    }

    #post-desc{
        width: 90%;
      }

    .article-container-post {
        margin-top: 0;
        padding: 0;
    }

    .container-title-card h2{
        font-size: 20px;
    }

    .container-title-card p{
        font-size: 12px;
    }

}

@media screen and ( max-width: 700px ) {

    /* Estilos Navbar */

    nav{
        justify-content: space-between !important;
        padding: 0 15px;
    }

    nav .input-navbar{
        display: none;
    }

    /* Componente HomePage */

    .info-autor{
        width: 100%;
    }

    .container-info-autor p{
        font-size: 15px;
    }

    .container-content{
        padding-bottom: 50px !important;
    }

    .container-postList > div {
        margin-top: 5px !important;
    }

    .container-postList > div > a {
        font-size: 16px !important;
    }

   /* Componente PostCard */

   .container-description-card{
        display: none;
   }

   .container-title-card{
        width: 100%;
    }
    .container-all-blogs{
        gap: 50px;
    }

    .u-center-all-blogs{
        padding-bottom: 50px !important;
    }

    .container-postList h1{
        font-size: 30px;
    }


    /* Componente posts/[slug] */

    .container-post-byslug{
        padding: 0px 16px;
    }

   /* Componentes Frames */

    .posts{
        justify-content: center;
        flex-direction: column;
    }

}

@media screen and ( max-width: 500px ) {

    /* Componente Navbar */

    nav {
        gap: 10px !important;
    }

    nav h3 {
        padding-right: 10px;
    }

    /* Estilos globales */

    .u-center{
        padding: 0px 10px;
    }

    .u-center-all-blogs{
        padding: 0px 10px;
    }

    /* Componente Navbar  */

    .container-navbar-icons{
        gap: 15px;
    }

    .navbar-icons{
        font-size: 20px;
    }

    /* Componente HomePage */

    .container-content{
        gap: 20px;
    }

    .container-postList{
        gap: 20px;
    }

    .container-posts{
        padding: 10px;
    }

    .article-container-post h2{
        min-width: 200px;
    }

    .container-info-autor{
        margin-top: 30px;
    }

    .container-info-autor h2{
        display: inline;
    }

    .info-autor{
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
    }

    /* Componente PostCard */

    .article-container-post{
        margin: 0px;
    }

    .container-title-card h2{
        font-size: 15px;
    }

    /* Componente pages/slug.tsx */

    .container-post-byslug{
        margin-top: 30px;
    }

    .container-postTitle-byslug img{
        width: 10vh !important;
        height: 8vh !important;
    } 

    .container-title-card{
        min-width: 150px;
    }

    .container-title-card h1{
        font-size: 20px;
    } 

    #content-post img{
        width: 90% !important;
        height: auto !important;
    }

    #content-post a{
        font-size: 22px !important;
      }


    .container-content-post h2{
        font-size: 19px;
    } 

    #content-post p{
        font-size: 15px;
    }

    #content-post li{
        font-size: 15px;
    }

    #container-aditional-info svg{
        font-size: 15px;
    }

    #container-aditional-info p{
        font-size: 10px;
    }

    .title-info-autor{
        gap: 10px;
    }


    code{
        padding: 3px;
    }

    code.hljs{
        font-size: 12px;
        border-radius: 5px;
    }

    /* Componete Footer */

    footer h3{
        font-size: 10px;
    }
}


@media screen and ( max-width: 400px ) {

    /* Componente HomePage */

    .container-info-autor p{
        font-size: 13px;
    }

    .container-info-autor img{
        width: 100px;
        height: 100px;
    }

    .container-info-autor h2{
        font-size: 25px;
    }

}